@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

@layer base {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  ul,
  li,
  form,
  label,
  aside,
  footer,
  header,
  nav,
  section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article,
  aside,
  figure,
  footer,
  header,
  section {
    display: block;
  }
  body {
    line-height: 1;
    font-family: "Roboto", sans-serif;
  }

  ol,
  ul {
    list-style: none;
  }

  body {
    @apply bg-colors-primary;
  }

  #__next {
    @apply w-screen h-screen col-center bg-colors-primary;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .col-center {
    @apply flex flex-col items-center;
  }

  .label {
    @apply w-full mt-3;
  }

  .input {
    @apply w-full h-8 bg-gray-500 rounded;
  }

  .btn_yellow {
    @apply bg-yellow-400 w-full h-12 rounded-2xl font-bold text-xl max-w-[350px];
  }
  .logo {
    @apply text-yellow-400 font-bold;
  }

  .main {
    @apply col-center w-screen sm:flex-row-reverse sm:justify-center sm:items-center h-screen;
  }

  .main_div {
    @apply col-center my-8 gap-y-14 sm:ml-52 h-4/6;
  }

  .aside_desktop {
    @apply h-screen w-52 justify-start absolute left-0 top-0;
  }

  .aside-dark {
    @apply col-center justify-around bg-colors-primary-dark w-full h-48 sm:aside_desktop;
  }

  .footer {
    @apply w-full flex justify-center mt-10 sm:justify-end sm:absolute sm:bottom-0;
  }

  .nav_footer {
    @apply text-yellow-400 flex justify-around w-3/4 text-sm my-3;
  }

  .mode {
    @apply bg-colors-primary-dark w-[86px] h-11 flex gap-1 relative rounded-3xl mt-6 sm:absolute sm:top-4 sm:right-4 sm:mt-0;
  }

  .social {
    @apply text-white text-2xl;
  }
}
